# temp file.
.DS_Store
*.swp
*.zip
*.bak

# node.js modules.
node_modules/

# generator file with build.
_books/
_book/
book.epub
book.mobi
book.pdf
docs

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# Travis and Jekyll
.sass-cache
.jekyll-metadata
